<div class="receita-card" *ngFor="let receita of listaReceitas">
  <h4>{{ receita.nome }}</h4>

  <div class="linha-card">
    <strong>Ingredientes:</strong>
    <ul>
      <li *ngFor="let ingrediente of receita.ingredientes">
        {{ ingrediente }}
      </li>
    </ul>
  </div>

  <div class="linha-card">
    <strong>Modo de Preparo:</strong><br />
    {{ receita.modoPreparo }}
  </div>

  <div class="linha-card">
    <strong>Autor:</strong> {{ receita.usuario }}
  </div>

  <button class="btn-roxo mt-2" (click)="alterar(receita)">Alterar</button>
</div>
