<main class"container">
    <h2> Receitas</h2>
    <div class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ingredientes</th>
                <th>Modo de Preparo</th>
                <th>Usuário</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let receita of receitas">
                <td>{{ receita.nome }}</td>
                <td>{{ receita.ingredientes.join(', ') }}</td>
                <td>{{ receita.modoPreparo }}</td>
                <td>{{ receita.usuario }}</td>
            </tr>
        </tbody>
    </table>
</main>